*{
   box-sizing: border-box;
}
body{
  background-color:burlywood;
  font-family: sans-serif;
  
}
body,ul{
   padding:0;
  margin: 0;
}
header{
    background-color:dimgray;
    width:100%;
    margin: 0;
    
    
}
h1{
   display:inline-block;
   width:29%;
   font-size: 2rem;
   color:black;
   margin-left:0.1em
   

}
nav{
   display: inline-block;
   width: 69%;

}
nav ul{
   display: inline-block;
   font-size: 1.7rem;
   display:flex;
   justify-content: space-between;
   vertical-align: center;
   list-style: none;
   color:burlywood;

}
h2{
   font-size:4rem;
   position:relative;
   top:2.4rem;
   left:2rem;
}
.img-para{
   
   width:40%;
   min-width:500px;
   border-radius: 30px;
   object-fit: cover;

}
p{
   font-size:2.4rem;
   width:55%;
   margin:30px 20px;
}
#container{
   display:flex;
   padding: 30px;

   
}
/* rules for skills esction*/

span{
   font-size: 2.3rem;
   border: 2px solid brown;
   border-radius: 15px;;
   background-color:lightslategray;
   padding:10px 20px;
}
/* Css styles for projects Section*/
#project-paragraph{
   display:block;
   width:100%;
   padding:20px 25px;
   font-size:30px;
   font-weight:100;
   margin-bottom:4px;
   
}
#projects{
   text-align: center;
   width:80%;
   padding:0;
   max-width:800px;
   font-size:30px;
   margin:1px auto;
   display: flex;
   justify-content: space-evenly;
   list-style: none;
   color:blue;
   

}
a{
   text-decoration: none;
   color:chocolate;
}

.bottom{
   text-align: center;
}
/*  Css for Contacts*/
.contact-details{
      text-align: center;
      background-color: rgba(255, 255, 0, 0.29);
      width:95%;
      margin:10px auto;
      border-radius:30px;
      padding:30px;

}
.contact-detail-social-media{
   text-align: center;
   width:80%;
   margin-top:40px;
   margin-right:auto;
   margin-left:auto;
}
#social-handles{
   width:80%;
   display:block;
   margin:100px auto;
   display: flex;
   
}
.last-block{
   background-color: rgba(43, 7, 7, 0.427);
   width:90%;
   margin:30px auto;
   border-radius:30px;
   padding-top:10px;
   padding-bottom:15px;
}
.last-block nav {
   display:block;
   width:100%;
   
   
  
}
.last-block nav ul li{
   border:3px solid grey;
   background-color: blanchedalmond;
   border-radius: 30px;
   padding:10px 20px;
   

}